name: Test workflow
on: push

jobs:
  windows:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v1.12
      - name: Use cmake
        run: cmake --version
      - run: py -m pip install -U pip setuptools build
      - run: py -m build
      - uses: actions/upload-artifact@v2
        with: dist