name: Test workflow
on: pull_request

jobs:
  windows:
    runs-on: windows-latest

    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - run: py -m pip install -U pip setuptools
      - run: py setup.py install
