name: Build
on:
  workflow_call:
  
jobs:
  windows:
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: ['3.9', '3.10']
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v1.12
      - name: Use cmake
        run: cmake --version
      - run: python -m pip install -U pip setuptools build
      - run: python -m build
      - uses: actions/upload-artifact@v2
        with:
          name: replicat-python-${{ matrix.python-version }}-windows-latest
          path: dist/
      - run: python -m pip install `ls dist/*.whl`[test]
        shell: bash
      - run: python -m pytest --pyargs replicat
