name: CI
on:
  push:
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
      - '.gitignore'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - run: ./scripts/lint --check-only --install

  # 3.8 builds
  build-38-windows:
    needs: lint
    uses: ./.github/workflows/build-windows.yml
    with:
      python-version: '3.8'

  build-38-linux:
    needs: lint
    uses: ./.github/workflows/build-linux.yml
    with:
      python-version: '3.8'

  build-38-macos:
    needs: lint
    uses: ./.github/workflows/build-macos.yml
    with:
      python-version: '3.8'

  # 3.8 tests
  test-38-windows:
    needs: build-38-windows
    runs-on: windows-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - run: echo "WHEEL_NAME=${{ needs.build-38-windows.outputs.wheel_name }}" >> $GITHUB_ENV
        shell: bash
      - uses: actions/download-artifact@v2
        with:
          name: ${{ env.WHEEL_NAME }}
      - run: python -m pip install ${{ env.WHEEL_NAME }}[test]
      - run: python -m pytest --pyargs replicat.tests

  test-38-linux:
    needs: build-38-linux
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - run: echo "WHEEL_NAME=${{ needs.build-38-linux.outputs.wheel_name }}" >> $GITHUB_ENV
      - uses: actions/download-artifact@v2
        with:
          name: ${{ env.WHEEL_NAME }}
      - run: python -m pip install ${{ env.WHEEL_NAME }}[test]
      - run: python -m pytest --pyargs replicat.tests

  test-38-macos:
    needs: build-38-macos
    runs-on: macos-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - run: echo "WHEEL_NAME=${{ needs.build-38-macos.outputs.wheel_name }}" >> $GITHUB_ENV
      - uses: actions/download-artifact@v2
        with:
          name: ${{ env.WHEEL_NAME }}
      - run: python -m pip install ${{ env.WHEEL_NAME }}[test]
      - run: python -m pytest --pyargs replicat.tests

  # 3.9 builds
  build-39-windows:
    needs: lint
    uses: ./.github/workflows/build-windows.yml
    with:
      python-version: '3.9'

  build-39-linux:
    needs: lint
    uses: ./.github/workflows/build-linux.yml
    with:
      python-version: '3.9'

  build-39-macos:
    needs: lint
    uses: ./.github/workflows/build-macos.yml
    with:
      python-version: '3.9'

  # 3.9 tests
  test-39-windows:
    needs: build-39-windows
    runs-on: windows-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - run: echo "WHEEL_NAME=${{ needs.build-39-windows.outputs.wheel_name }}" >> $GITHUB_ENV
        shell: bash
      - uses: actions/download-artifact@v2
        with:
          name: ${{ env.WHEEL_NAME }}
      - run: python -m pip install ${{ env.WHEEL_NAME }}[test]
      - run: python -m pytest --pyargs replicat.tests

  test-39-linux:
    needs: build-39-linux
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - run: echo "WHEEL_NAME=${{ needs.build-39-linux.outputs.wheel_name }}" >> $GITHUB_ENV
      - uses: actions/download-artifact@v2
        with:
          name: ${{ env.WHEEL_NAME }}
      - run: python -m pip install ${{ env.WHEEL_NAME }}[test]
      - run: python -m pytest --pyargs replicat.tests

  test-39-macos:
    needs: build-39-macos
    runs-on: macos-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - run: echo "WHEEL_NAME=${{ needs.build-39-macos.outputs.wheel_name }}" >> $GITHUB_ENV
      - uses: actions/download-artifact@v2
        with:
          name: ${{ env.WHEEL_NAME }}
      - run: python -m pip install ${{ env.WHEEL_NAME }}[test]
      - run: python -m pytest --pyargs replicat.tests

  # 3.10 builds
  build-310-windows:
    needs: lint
    uses: ./.github/workflows/build-windows.yml
    with:
      python-version: '3.10'

  build-310-linux:
    needs: lint
    uses: ./.github/workflows/build-linux.yml
    with:
      python-version: '3.10'

  build-310-macos:
    needs: lint
    uses: ./.github/workflows/build-macos.yml
    with:
      python-version: '3.10'

  # 3.10 tests
  test-310-windows:
    needs: build-310-windows
    runs-on: windows-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - run: echo "WHEEL_NAME=${{ needs.build-310-windows.outputs.wheel_name }}" >> $GITHUB_ENV
        shell: bash
      - uses: actions/download-artifact@v2
        with:
          name: ${{ env.WHEEL_NAME }}
      - run: python -m pip install ${{ env.WHEEL_NAME }}[test]
      - run: python -m pytest --pyargs replicat.tests

  test-310-linux:
    needs: build-310-linux
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - run: echo "WHEEL_NAME=${{ needs.build-310-linux.outputs.wheel_name }}" >> $GITHUB_ENV
      - uses: actions/download-artifact@v2
        with:
          name: ${{ env.WHEEL_NAME }}
      - run: python -m pip install ${{ env.WHEEL_NAME }}[test]
      - run: python -m pytest --pyargs replicat.tests

  test-310-macos:
    needs: build-310-macos
    runs-on: macos-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - run: echo "WHEEL_NAME=${{ needs.build-310-macos.outputs.wheel_name }}" >> $GITHUB_ENV
      - uses: actions/download-artifact@v2
        with:
          name: ${{ env.WHEEL_NAME }}
      - run: python -m pip install ${{ env.WHEEL_NAME }}[test]
      - run: python -m pytest --pyargs replicat.tests

  # 3.11 builds
  build-311-windows:
    needs: lint
    uses: ./.github/workflows/build-windows.yml
    with:
      python-version: '3.11'

  build-311-linux:
    needs: lint
    uses: ./.github/workflows/build-linux.yml
    with:
      python-version: '3.11'

  build-311-macos:
    needs: lint
    uses: ./.github/workflows/build-macos.yml
    with:
      python-version: '3.11'

  # 3.11 tests
  test-311-windows:
    needs: build-311-windows
    runs-on: windows-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'
      - run: echo "WHEEL_NAME=${{ needs.build-311-windows.outputs.wheel_name }}" >> $GITHUB_ENV
        shell: bash
      - uses: actions/download-artifact@v2
        with:
          name: ${{ env.WHEEL_NAME }}
      - run: python -m pip install ${{ env.WHEEL_NAME }}[test]
      - run: python -m pytest --pyargs replicat.tests

  test-311-linux:
    needs: build-311-linux
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'
      - run: echo "WHEEL_NAME=${{ needs.build-311-linux.outputs.wheel_name }}" >> $GITHUB_ENV
      - uses: actions/download-artifact@v2
        with:
          name: ${{ env.WHEEL_NAME }}
      - run: python -m pip install ${{ env.WHEEL_NAME }}[test]
      - run: python -m pytest --pyargs replicat.tests

  test-311-macos:
    needs: build-311-macos
    runs-on: macos-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'
      - run: echo "WHEEL_NAME=${{ needs.build-311-macos.outputs.wheel_name }}" >> $GITHUB_ENV
      - uses: actions/download-artifact@v2
        with:
          name: ${{ env.WHEEL_NAME }}
      - run: python -m pip install ${{ env.WHEEL_NAME }}[test]
      - run: python -m pytest --pyargs replicat.tests

  test-312:
    needs: lint
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.12.0-alpha - 3.12.0'
      - run: python -m pip install .[test]
      - run: python -m pytest --pyargs replicat.tests
