name: CI
on:
  push:
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
      - '.gitignore'
  pull_request:
    types: [opened, reopened]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - run: ./scripts/lint --check-only --install

  build-39-windows:
    needs: lint
    uses: ./.github/workflows/build-windows.yml
    with:
      python-version: '3.9'

  build-39-linux:
    needs: lint
    uses: ./.github/workflows/build-linux.yml
    with:
      python-version: '3.9'

  build-39-macos:
    needs: lint
    uses: ./.github/workflows/build-macos.yml
    with:
      python-version: '3.9'

  build-310-windows:
    needs: lint
    uses: ./.github/workflows/build-windows.yml
    with:
      python-version: '3.10'

  build-310-linux:
    needs: lint
    uses: ./.github/workflows/build-linux.yml
    with:
      python-version: '3.10'

  build-310-macos:
    needs: lint
    uses: ./.github/workflows/build-macos.yml
    with:
      python-version: '3.10'

  test-39-windows:
    needs: build-39-windows
    runs-on: windows-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - uses: actions/download-artifact@v2
        id: dwnl
        with:
          name: ${{ needs.build-39-windows.outputs.wheel_name }}
      - run: python -m pip install ${{ needs.build-39-windows.outputs.wheel_name }}[test]
      - run: python -m pytest --pyargs replicat

  test-39-linux:
    needs: build-39-linux
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - uses: actions/download-artifact@v2
        id: dwnl
        with:
          name: ${{ needs.build-39-linux.outputs.wheel_name }}
      - run: python -m pip install ${{ needs.build-39-linux.outputs.wheel_name }}[test]
      - run: python -m pytest --pyargs replicat

  test-39-macos:
    needs: build-39-macos
    runs-on: macos-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - uses: actions/download-artifact@v2
        id: dwnl
        with:
          name: ${{ needs.build-39-macos.outputs.wheel_name }}
      - run: python -m pip install ${{ needs.build-39-macos.outputs.wheel_name }}[test]
      - run: python -m pytest --pyargs replicat

  test-310-windows:
    needs: build-310-windows
    runs-on: windows-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - uses: actions/download-artifact@v2
        id: dwnl
        with:
          name: ${{ needs.build-310-windows.outputs.wheel_name }}
      - run: python -m pip install ${{ needs.build-310-windows.outputs.wheel_name }}[test]
      - run: python -m pytest --pyargs replicat

  test-310-linux:
    needs: build-310-linux
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - uses: actions/download-artifact@v2
        id: dwnl
        with:
          name: ${{ needs.build-310-linux.outputs.wheel_name }}
      - run: python -m pip install ${{ needs.build-310-linux.outputs.wheel_name }}[test]
      - run: python -m pytest --pyargs replicat

  test-310-macos:
    needs: build-310-macos
    runs-on: macos-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - uses: actions/download-artifact@v2
        id: dwnl
        with:
          name: ${{ needs.build-310-macos.outputs.wheel_name }}
      - run: python -m pip install ${{ needs.build-310-macos.outputs.wheel_name }}[test]
      - run: python -m pytest --pyargs replicat
