name: Test workflow
on: push

jobs:
  windows:
    runs-on: windows-latest

    steps:
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - run: python -m venv env
      - run: env\Scripts\pip.exe install -U pip setuptools
      - run: env\Scripts\pip.exe install .
