name: Release (PyPI)
on:
  workflow_dispatch:

jobs:
  build-wheels:
    uses: ./.github/workflows/build-wheels.yml
    with:
      include-pre-release-pythons: "false"

  build-sdist:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - run: python -m pip install build
      - run: python -m build --sdist
      - uses: actions/upload-artifact@v2
        with:
          path: dist/*.tar.gz

  upload:
    needs:
      - build-wheels
      - build-sdist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
      - name: Artifacts tree structure
        run: ls -R
      - run: python -m pip install twine
      - run: python -m twine upload **/*
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
