name: Release
on: push
  
jobs:
  build-39-windows:
    uses: ./.github/workflows/build-windows.yml
    with:
      python-version: '3.9'

  build-39-linux:
    uses: ./.github/workflows/build-linux.yml
    with:
      python-version: '3.9'

  build-39-macos:
    uses: ./.github/workflows/build-macos.yml
    with:
      python-version: '3.9'

  build-310-windows:
    uses: ./.github/workflows/build-windows.yml
    with:
      python-version: '3.10'

  build-310-linux:
    uses: ./.github/workflows/build-linux.yml
    with:
      python-version: '3.10'

  build-310-macos:
    uses: ./.github/workflows/build-macos.yml
    with:
      python-version: '3.10'

  build-sdist:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - run: python -m pip install build
      - run: python -m build --sdist
      - run: echo "SDIST_NAME=$(basename $(ls dist/*.tar.gz))" >> $GITHUB_ENV
      - uses: actions/upload-artifact@v2
        with:
          name: ${{ env.SDIST_NAME }}
          path: dist/${{ env.SDIST_NAME }}

  upload:
    needs:
      - build-39-windows
      - build-39-linux
      - build-39-macos
      - build-310-windows
      - build-310-linux
      - build-310-macos
      - build-sdist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v2
      - name: Artifacts tree structure
        run: ls -R
      - run: python -m pip install twine
      - run: python -m twine upload -r testpypi **/*
        env:
          TWINE_USERNAME: ${{ secrets.TEST_PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.TEST_PYPI_SECRET }}
