name: Release (TestPyPI)
on:
  workflow_dispatch:

jobs:
  build-wheels:
    uses: ./.github/workflows/build-wheels.yml
    with:
      include-pre-release-pythons: "false"

  build-sdist:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - run: python -m pip install build
      - run: python -m build --sdist
      - run: echo "SDIST_NAME=$(basename $(ls dist/*.tar.gz))" >> $GITHUB_ENV
      - uses: actions/upload-artifact@v2
        with:
          name: ${{ env.SDIST_NAME }}
          path: dist/${{ env.SDIST_NAME }}

  upload:
    needs:
      - build-wheels
      - build-sdist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
      - name: Artifacts tree structure
        run: ls -R
      - run: python -m pip install twine
      - run: python -m twine upload -r testpypi **/*
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.TESTPYPI_TOKEN }}
